<!DOCTYPE html>
<html lang="es-ar">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}{{ with .Title }} - {{ . }}{{- end -}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .OutputFormats.Get "RSS" -}}
    <link rel="alternate" {{ printf "type=%q" .MediaType.Type | safeHTMLAttr }} href="{{ .Permalink }}" title="Publicaciones en {{ site.Title }}" />
    {{ end -}}
    {{- block "head" . -}}{{- end -}}
    <meta property="og:locale" content="es_AR" />
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <link rel="stylesheet" href="{{ (resources.Get "main.scss" | toCSS | minify | fingerprint).RelPermalink }}">
  </head>
  <body class="is-flex is-flex-direction-column" style="height: 100vh">
    <nav class="navbar is-primary" role="navigation" aria-label="navegación principal">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ relURL "" }}">
          <h1 class="title is-1 has-text-light">Susurrar</h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"    data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="{{ relURL "categories" }}">
            Categorías
          </a>
          <a class="navbar-item" href="{{ relURL "about" }}">
            Acerca de
          </a>
        </div>
      </div>
    </nav>
    <div class="is-flex-grow-1 is-flex-shrink-0">
    {{ block "main" . }}
    {{ end }}
    </div>
    <footer class="footer py-6">
      <div class="content has-text-centered">
        <a href="{{ absURL "index.xml" }}" aria-label="RSS"><i class="mycon rss big" title="RSS"></i>RSS</a>
      </div>
      <div class="content has-text-centered">
        <a property="dct:title" rel="cc:attributionURL" href="{{ absURL "" }}">{{ .Site.Title }}</a> © 2024 es un blog personal licenciado bajo <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY 4.0</a>
      </div>
    </footer>
  </body>
</html>
