@charset "utf-8";

$pink: #FF2E63;
$brown: #252A34;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$navbar-height: 4.5rem;

$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$light: $beige-lighter;
$grey-light: $beige-light;
$primary: #B9034B;
$link: $pink;
$info: $pink;

$body-background-color: $beige-lighter;
$article-padding: 1rem;
