.object-fit-cover {
  object-fit: cover;
}

.gap-s {
  gap: .7rem;
}

.gap-xs {
  gap: .5rem;
}

.gap-xxs {
  gap: .3rem;
}

/** Bulma-based grid for the default container class */
.is-grid {
  display: grid;

  .container &.is-grid-3-columns {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 750px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

figure.figure-legal {
  position: relative;

  figcaption.figure-legal-text {
    position: absolute;
    z-index: 200;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.2rem;
  }
}
