  <div class="is-grid is-grid-3-columns gap-s {{ .Scratch.Get "gridClasses" }}">
    {{- range $p := .Scratch.Get "pagesArg" -}}
    <article class="card is-flex is-flex-direction-column">
      <div class="card-image">
        <a href="{{ $p.RelPermalink }}">
          <figure class="image is-5by3">
            <img class="object-fit-cover"
                 src="{{ ((.Resources.GetMatch "featured-image.*").Resize "740x webp q90").RelPermalink }}"
                 alt="{{ $p.Params.altImgText }}"
                 >
          </figure>
        </a>
      </div>
      <div class="card-content is-flex is-flex-direction-column is-flex-grow-1">
        <a class="title is-flex-grow-1" href="{{ $p.RelPermalink  }}">
          <h2 class="title is-4">{{ $p.Title }}</h2>
        </a>
        <div class="content has-text-grey">
          <time class="is-size-7" datetime="{{ partial "ToISO6801" $p.Date }}">
            {{- $p.Date | time.Format ":date_long" -}}
          </time>
          <br>
          <div class="is-flex gap-s is-flex-wrap-wrap is-size-7">
            {{- range $p.Params.categories -}}
            <a href="{{ partial "GetCategoryPermalink" . }}">
              <div class="hover-has-text-red">#{{ . }}</div>
            </a>
            {{- end -}}
          </div>
        </div>
      </div>
    </article>
    {{ end }}
  </div>
